$white: #FFFFFF;
$dark-purple: #03081c;
$gray: #808080;
$green: #c4dc34;
$light-grey: #d3d3d3;
$light-purple: #d6dcf8;

:export {
    white: $white;
    dark-purple: $dark-purple;
    gray: $gray;
    green: $green;
    light-grey: $light-grey;
    light-purple: $light-purple;
}
