.InputBar {

    .input-container {
        background: $dark-purple;
        border: $light-purple solid 1px;
        width: 60%;
        height: 50px;
        border-radius: 5px;
        padding: 10px;
        margin: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;;

        .input-wrapper {
            flex-grow: 8;
            background: $dark-purple;
        }

        .add-button-container {
            border-radius: 5px;
            background-color: $light-purple;
            flex-grow: 1;
            flex-direction: row;
            margin: auto;
            .button-text {
                color: $dark-purple;
                font-weight: bold;
                padding: 15px;
            }
        }

        input {
            background: $dark-purple;
            border: $light-purple;
            height: 100%;
            width: 80%;
            color: $light-purple;
            font-size: 20px;
        }

        #taskInput:focus {
            outline: none;
        }
    }


    .input-container:hover {
        transition: all 0.3s ease;
        box-shadow: 0 0 0 3px rgba(21, 156, 228, 0.4);
    }
}
