.TasksList {
    width: 60%;
    margin: auto;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;

    .title-container {
        display: flex;
        justify-content: space-between;
    }

    .list-title {
        //display: flex;
        color: $white;
        font-weight: bold;
        font-size: 30px;
    }

    .clear-button {
        border-radius: 5px;
        background: $light-purple;
        padding: 10px;
        font-size: 15px;
        color: $dark-purple;
    }

    .task-container {
        display: flex;
        margin-top: 20px;
        justify-content: space-between;
        color: $light-purple;

        .icon {
            filter: brightness(0) invert(1);
            img {
                height: 30px;
            }
        }
    }
}
